.sidebar{
    display: flex;
    flex-direction: column;
    flex:0.35 !important;
}
.sidebar_header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}
.sidebar_headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 5vw;
}
.sidebar_headerRight > .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px !important;
}
.sidebar_search{
display: flex;
align-items: center;
background-color:#f6f6f6;
height:39px ;
padding: 10px;
}
.sidebar_searchcontainer{
    display: flex;
    align-items: center;
    background-color: white;
    height:35px ;
    width: 100%;
    border-radius: 20px;
}
.sidebar_searchcontainer > .MuiSvgIcon-root{
color:gray;
padding: 10px;
}
.sidebar_searchcontainer > input{
    width: 100%;
    border: none;
    outline-width: 0;
    margin-left: 10px;
    }
.sidebar_chat{
    flex: 1;
    background-color: #fefefe;
    overflow-x: hidden;
    overflow-y: auto;
}