.sideBarChat{
display: flex;
padding: 20px;
cursor: pointer;
border-bottom: 1px solid #f6f6f6;
}
.sideBarChat:hover{
    background-color: #ebebeb;
}
.sideBarChat_info > h2{
    font-size: 16px;
    margin-bottom: 8px;
}
.sideBarChat_info > p{
    font-size: 12px;
}
.sideBarChat_info {
    margin-left: 15px;
}